<section class="footer-wrapper" style="padding: 90px 0 40px 0">
    <div class="d-flex align-items-center flex-column">
        <p><strong>Connect Developer on:</strong></p>
        <div class="social-media justify-content-between">
            <a class="m-2" href="https://www.linkedin.com/in/rhmnarief/">
                <img src="{{url_for('static', filename = 'assets/linkedin.png')}}" alt="linkedin" width="28px"/>
            </a>
            <a class="m-2" href="https://github.com/rhmnarief">
                <img src="{{url_for('static', filename = 'assets/github.png')}}" alt="github" width="28px"/>
            </a>
            <a class="m-2" href="https://www.instagram.com/rhmnarief_/">
                <img src="{{url_for('static', filename = 'assets/instagram.png')}}" alt="instagram" width="28px"/>
            </a>
        </div>
    </div>
</section>
