<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="{{url_for('static', filename = 'assets/logo.png')}}" alt="logo" />
    NLP-API
  </a>
  <div class="form-inline ml-auto">
    <a
      href='/guide'
      >How To Use API</a>
  </div>
  <div class="form-inline ml-auto">
    <a
      href='mailto:rhmnarief7@gmail.com?">Click'
      data-link-type="articleContentLink"
      data-link-page-type="ARTICLE"
      target="_blank"
      rel="noopener noreferrer"
      aria-label='rhmnarief7@gmail.com?">Click (Opens in a new window)'
      class="btn btn-gradient my-2 my-sm-0"
      >Contact Us</a>
  </div>
</nav>
