<section class="list-comment-wrapper mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-wrapper">
        <h3>What People Said About This</h3>
        <hr />
        <div class="row mb-3 p-2">
          <div
            class="col-2 d-flex align-items-center justify-content-center flex-column"
          ></div>
          <div class="col-8">
            {% for comment in data_comment.data %}
            <div class="row">
              <div
                class="col-12 d-flex align-items-center justify-content-center flex-column"
              >
                <p class="mb-0" style="font-weight: bold">
                  "{{ comment.comment }}"
                </p>
                <div class="star">
                  <img
                    src="{{url_for('static', filename = 'assets/star.png')}}"
                    alt=""
                    width="15px"
                  />
                  {{ comment.rate }}
                </div>
                <p style="font-style: italic">-{{ comment.fullname }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          <div
            class="col-2 d-flex align-items-center justify-content-center flex-column"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item {%if data_comment.previous_url == None %} disabled {% endif %}">
          <a
            class="page-link"
            href="{{ data_comment.previous_url }}"
            tabindex="-1"
            >Previous</a
          >
        </li>
        <li class="page-item disabled"><a class="page-link" href="#">-</a></li>
        <li class="page-item {%if data_comment.next_url == None %} disabled {% endif %}">
          <a class="page-link" href="{{ data_comment.next_url }}">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
